<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>public.default</string>
		<string>glyphs</string>
	</array>
	<array>
		<string>public.background</string>
		<string>glyphs.public.background</string>
	</array>
	<array>
		<string>W1000 [700]</string>
		<string>glyphs.W_1000 _700_</string>
	</array>
	<array>
		<string>W1000 [700].background</string>
		<string>glyphs.W_1000 _700_.background</string>
	</array>
	<array>
		<string>W1000 [501]</string>
		<string>glyphs.W_1000 _501_</string>
	</array>
	<array>
		<string>W1000 [501].background</string>
		<string>glyphs.W_1000 _501_.background</string>
	</array>
</array>
</plist>
