<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<real>668.0</real>
	<key>capHeight</key>
	<real>587.0</real>
	<key>copyright</key>
	<string>Copyright © 2018 by Jacques Le Bailly, with reserved Font Name "CrimsonPro". (fonthausen@baronvonfonthausen.com)</string>
	<key>descender</key>
	<real>-220.0</real>
	<key>familyName</key>
	<string>CrimsonPro</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>308.0</real>
			<key>y</key>
			<real>36.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>330.0</real>
			<key>y</key>
			<real>843.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>408.0</real>
			<key>y</key>
			<real>51.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>308.0</real>
			<key>y</key>
			<real>379.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>408.0</real>
			<key>y</key>
			<real>394.0</real>
		</dict>
	</array>
	<key>italicAngle</key>
	<real>-0.0</real>
	<key>openTypeHeadCreated</key>
	<string>2018/11/08 10:12:10</string>
	<key>openTypeHheaAscender</key>
	<integer>918</integer>
	<key>openTypeHheaDescender</key>
	<integer>-220</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Jacques Le Bailly</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.baronvonfonthausen.com/</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Baron von Fonthausen</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.baronvonfonthausen.com/</string>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>918</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-220</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>FoHa</string>
	<key>openTypeOS2WinAscent</key>
	<integer>998</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>295</integer>
	<key>postscriptBlueValues</key>
	<array>
		<real>-13.0</real>
		<real>0.0</real>
		<real>425.0</real>
		<real>438.0</real>
		<real>587.0</real>
		<real>600.0</real>
		<real>660.0</real>
		<real>673.0</real>
		<real>688.0</real>
		<real>701.0</real>
	</array>
	<key>postscriptFamilyBlues</key>
	<array/>
	<key>postscriptFamilyOtherBlues</key>
	<array/>
	<key>postscriptOtherBlues</key>
	<array>
		<real>-233.0</real>
		<real>-220.0</real>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>43</integer>
		<integer>42</integer>
		<integer>45</integer>
		<integer>37</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>61</integer>
		<integer>78</integer>
		<integer>50</integer>
		<integer>65</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>styleName</key>
	<string>W0</string>
	<key>unitsPerEm</key>
	<integer>1024</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<real>425.0</real>
</dict>
</plist>
